*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #003b71;
    color: white;
}

header{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.logos img{
    height: 35px;
    margin: 0 5px;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}


.info{
    width: 50%;
}

.info h1{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 10px;
}

.info h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
}
.caixa-nome{
    background-color: #9ed5ff;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 5px;
}

.caixa-nome p{
    color: #0b3566;
    font-size: 20px;
    font-weight: bold;
}

/* FOTO */
.foto img{
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.lateral{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.lines{
    width: 70px;
    height: 55px;
    border-left: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    background: repeating-linear-gradient(
        to bottom,
        white,
        white 10px,
        transparent 10px,
        transparent 20px
    );
}

.foto img{
    width: 340px;
    border-radius: 10px;
}

.texto{
    background-color: #4a8eb8;
    padding: 30px;
    width: 550px;
    border-radius: 10px;
}

.texto p{
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}

footer{
    text-align: center;
    margin-top: 30px;
}

footer img{
    width: 60px;
    margin: 5px;
}
.navegacao{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    margin-top: 20px;
}

.btn{
    text-decoration: none;
    background-color: #9fd3ff;
    color: #003b71;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover{
    background-color: white;
    transform: scale(1.08);
}
.proximo{
    border: 3px solid #72b9ff;
}
