* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0b497c;
}

.container {
    width: 90%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card {
    background: #ffffff;
    width: 50%;
    border-radius: 8px;
    overflow: hidden;
    border: 4px solid #0a75bc;
}
.titulo {
    background: #3185c7;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 15px 0;
    font-weight: bold;
}
.imagem {
    background: #e6eef3;
    padding: 20px;
    text-align: center;
}

.imagem img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.eixo {
    background: #3185c7;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 0;
}

.descricao {
    padding: 25px;
    font-size: 18px;
    color: #333;
    background: #ffffff;
}
footer {
    text-align: center;
    margin: 40px 0;
}
footer img {
    width: 180px;
}
.btn{
    text-decoration: none;
    background-color: #9fd3ff;
    color: #003b71;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover{
    background-color: white;
    transform: scale(1.08);
}
.proximo{
    border: 3px solid #72b9ff;
}
