body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f3c61;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 30px;
    padding: 40px 0;
    justify-content: center;
}

.bloco {
    background: #eaeef3;
    border-radius: 6px;
    width: 45%;
    overflow: hidden;
}

.titulo {
    background: #2d7dbd;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    font-weight: bold;
}

.conteudo {
    background: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.conteudo img {
    width: 80%;
    border: 4px solid #000;
}

.footer {
    background: #2d7dbd;
    padding: 20px;
    text-align: center;
    color: white;
}

.footer h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.footer p {
    margin-top: 10px;
    font-size: 18px;
}
.btn{
    text-decoration: none;
    background-color: #9fd3ff;
    color: #003b71;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover{
    background-color: white;
    transform: scale(1.08);
}
.proximo{
    border: 3px solid #72b9ff;
}