body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.background {
    width: 100%;
    min-height: 100vh;
    background: #0d4a7f;
    padding: 30px;
    position: relative;
    overflow: hidden;
}
.plus {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    opacity: 0.9;
}

.left {
    left: 10px;
    top: 120px;
}

.right {
    right: 10px;
    top: 120px;
}
.content {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.box {
    width: 40%;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    border: 4px solid #1a74b7;
}
.title {
    background: #1a74b7;
    color: white;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    padding: 12px;
}
.img-area {
    padding: 20px;
    text-align: center;
}

.img-area img {
    width: 90%;
    border-radius: 4px;
}
.subtitle {
    background: #1a74b7;
    color: white;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 10px;
}

.text {
    padding: 20px;
    text-align: center;
    font-size: 16px;
    color: #0b2e4b;
}
footer {
    text-align: center;
    margin-top: 30px;
}

footer span {
    background: white;
    color: #0b2e4b;
    font-weight: bold;
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 18px;
}

.btn{
    text-decoration: none;
    background-color: #9fd3ff;
    color: #003b71;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}

.btn:hover{
    background-color: white;
    transform: scale(1.08);
}
.proximo{
    border: 3px solid #72b9ff;
}

